@import "tailwindcss";

html,
body {
  @apply overflow-x-hidden;
}

body {
  font-family: 'Poppins';
}

body {
  background-color: #FFFFFF;
  color: #000000;
}
.title{
  font-family: 'Inter';
}
footer {
  @apply bg-[#000000] text-[#fafafa] w-full;
}

.homepage {
  @apply min-h-screen w-full py-16 md:py-20 xl:py-24;
}

.wrapper {
  @apply 2xl:max-w-7xl md:max-w-6xl mx-auto px-2;
}

/* --- Hero Section --- */
.hero {
  @apply flex flex-col lg:flex-row gap-6 md:gap-10 2xl:max-w-7xl md:max-w-6xl mx-auto px-2;
}

.categories {
  @apply flex flex-row lg:flex-col flex-wrap gap-4 text-sm md:text-base font-medium lg:w-[220px] w-[217px] pt-10 ;
}

.categories a {
  @apply hover:text-[#FFA500] transition-colors duration-200;
}

.hero-divider {
  @apply hidden lg:block border-l border-gray-300;
}

/* --- Hero Banner --- */
.hero-banner {
  @apply relative bg-black text-white rounded overflow-hidden flex flex-col md:flex-row items-center justify-between p-6 sm:p-8 md:py-10 w-full md:h-[340px];
}

.hero-text {
  @apply flex flex-col justify-center gap-2 md:gap-4 max-w-[400px] 2xl:px-20;
}

.hero-logo {
  @apply w-10 h-10 md:w-12 md:h-12 object-contain mb-2;
}

.hero-subtitle {
  @apply text-sm md:text-base text-gray-200;
}

.hero-heading {
  @apply font-semibold text-2xl sm:text-3xl md:text-[40px] leading-tight tracking-wide;
}

.hero-btn {
  @apply mt-4 border-b border-white text-sm md:text-base hover:opacity-80 w-fit;
}

.hero-image {
  @apply w-full md:w-[450px] lg:w-[520px] object-contain mt-6 md:mt-0;
}

/* --- Utilities --- */
.title {
  @apply text-lg md:text-xl font-bold;
}