@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

* {
  font-weight: 100;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #000000;
  font-family: "Poppins", sans-serif;
}

footer {
  background-color: #000000;
  color: #fafafa;
  height: 440px;
}

.homepage {
  @apply flex flex-col min-h-screen py-32 w-full bg-gray-50 ;
}

.wrapper {
  @apply max-w-7xl mx-auto px-4;
}
title {
  @apply text-lg font-bold;
}
.hero {
  @apply max-w-7xl mx-auto flex gap-10 py-10 px-6;
}

.categories {
  @apply flex flex-col gap-4 text-sm font-medium w-[217px] h-[344px];
}

.categories a {
  @apply hover:text-[#FFA500] transition;
}

.hero-divider {
  @apply border-l-2 border-gray-300;
}

.hero-img {
  @apply rounded-lg w-[892px] h-[344px] object-cover;
}


