@import "tailwindcss";

.flashsale-section {
  @apply w-full py-10 border-b border-gray-300 my-10;
}

.flashsale-header {
  @apply flex flex-col md:flex-row md:items-center gap-20 mb-8;
}
.flashsale-title p {
  @apply text-[#FFA500] font-semibold;
}
.flashsale-title p {
  @apply text-[#FFA500] font-semibold;
}
.timebox-value::after {
  @apply ml-1 text-[#FFA500];
  content: ':';
}
.timebox:last-child .timebox-value::after {
  content: '';  
}
.title-with-timer-flashsale {
  @apply flex gap-20 items-center;
}
.title-with-timer-flashsale h2 {
  @apply text-[36px] font-semibold;
}

.timer-and-arrows {
  @apply flex items-center gap-4 ;
}

.flashsale-timer {
  @apply flex gap-6;
}

.arrow-btns {
  @apply flex items-center gap-2 ;
}
.arrow-btn {
  @apply bg-[#FDFBD4] p-2 rounded-full text-[24px] hover:bg-[#FFA500] hover:text-white transition;
}
/* Slider */
.flashsale-slider {
  @apply flex gap-6 overflow-x-auto scroll-smooth;
  scrollbar-width: none;
}

.flashsale-slider::-webkit-scrollbar {
  display: none;
}

/* Product Card */
.flashsale-card {
  @apply relative min-w-[250px] bg-white rounded-lg shadow hover:shadow-lg transition p-4;
}

.discount-badge-flashsale {
  @apply absolute top-3 left-3 bg-[#FFA500] text-white text-xs px-2 py-1 rounded;
}

.product-img-flashsale {
  @apply w-full h-40 object-contain mb-3 bg-[#FDFBD44A];
}

.addcart-btn-flashsale {
  @apply w-full bg-black text-white py-2 flex justify-center items-center gap-2 text-sm hover:bg-gray-800 transition cursor-pointer;
}

.product-title-flashsale {
  @apply font-medium text-sm mb-2;
}

.price-wrapper-flashsale {
  @apply flex items-center gap-2 mb-2;
}

.price-current-flashsale {
  @apply text-[#FFA500] font-bold;
}

.price-old-flashsale {
  @apply text-gray-400 line-through text-sm;
}

.rating-wrapper-flashsale {
  @apply flex items-center gap-1 text-[#FFA500] text-sm;
}

.rating-count-flashsale {
  @apply text-gray-600 text-xs ml-2;
}

.timebox {
  @apply flex flex-col items-center;
}

.timebox-label {
  @apply text-[12px] font-medium text-[#000000];
}

.timebox-value {
  @apply text-lg font-bold text-[32px];
}

.section-header-bar {
  @apply w-[20px] h-[40px] rounded-[4px] bg-[#FFA500] cursor-pointer;
}

.header {
  @apply flex items-center gap-2 mb-4;
}
.view-all-btn {
  @apply bg-[#FF8400] cursor-pointer text-white mt-10 px-6 py-3 rounded font-medium hover:bg-orange-600 transition block mx-auto;
}